* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
	color: rgb(25, 25, 25);
	font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
		sans-serif;
	font-size: 16px;
	line-height: 1.2;
	margin: 0px;
	min-height: 100%;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

input[type="text" i] {
	padding-block: 1px;
	padding-inline: 2px;
}
