@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'apercu-pro';
    src: local('apercu-pro'), url(./fonts/ApercuPro-Bold-english.woff2) format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'apercu-pro';
    src: local('apercu-pro'), url(./fonts/ApercuPro-Light-english.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'apercu-pro';
    src: local('apercu-pro'), url(./fonts/ApercuPro-Medium-english.woff2) format('woff2');
    font-weight: medium;
}

@font-face {
    font-family: 'apercu-pro';
    src: local('apercu-pro'), url(./fonts/ApercuPro-Regular-english.woff2) format('woff2');
    font-weight: 400;
}